
.item{
  position:fixed;
  top:0;
  left:0;
  height: 500px !important;
}

.carousel{
    margin-top: 70px;

}

.bs-example{
    margin: 70px;
}

.carousel.carousel-fade .item {
  opacity:0;

   }

.carousel.carousel-fade .active.item {
    opacity:0;
}